{% extends "base.html" %}
{% block content %}
<style>
   
    .custom-container {
        max-width: 1000px; /* Set your desired maximum width */
        margin: 0 auto; /* Center the container horizontally */
    }
</style>
<div class="container pt-3 custom-container">
    <div class="card custom-card card-shadow">
        <div class="card-body">
            <h1 class="card-title text-center bold" style="color: #863d0f; font-family: Roboto, sans-serif;">History</h1>
            {% if data %}
            <div id="job-results">
                <ul class="list-group">
                    {% for cv in data %}
                    <li class="list-group-item job-item" style="text-align: left; background-color: #f1eeee;">
                        <div class="row job-result">
                            <div class="col-md-8">
                                <h5 class="mb-1"><strong>{{ cv[0] }}</strong></h5>
                                <p class="mb-1">CVs: {{ cv[2] }}</p>
                                
                                <div class="job-description" style="display: none;">
                                    <p><strong>Job Description:</strong></p>
                                    <p>{{ cv[1] }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-secondary mr-2" onclick="toggleJobDescription(this)">Expand</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function toggleJobDescription(button) {
        var description = button.closest('.job-result').querySelector('.job-description');
        if (description.style.display === 'none') {
            description.style.display = 'block';
            button.innerText = 'Collapse';
        } else {
            description.style.display = 'none';
            button.innerText = 'Expand';
        }
    }
</script>

{% endblock %}
