{% extends "base.html" %}

{% block content %}
<style>
    .custom-card {
        background-color: #f1eeee;
        padding-top: 10px;

    }

    .card-shadow {
        box-shadow: 0 4px 5px #682c0b;
        border-radius: 0.5rem;
    }
</style>
<div class="container">
    <div class="card custom-card card-shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="../static/images/desc.jpg" alt="Photo" class="img-fluid rounded">
                </div>
                <div class="col-md-8" style="padding-top: 20px;">
                    <h1 class="card-title text-center" style="color: #682c0b; font-family:Arial, sans-serif;">Submit Your Job Description</h1>
                    <form method="post" action="{{ url_for('cvs') }}">
                        <div class="mb-3">
                            <label for="job_title" class="form-label custom-label">Job Title</label>
                            <input type="text" class="form-control custom-input" name="job_title" id="job_title" placeholder="Enter the job title" required>
                        </div>
                        <div class="mb-3">
                            <label for="desc" class="form-label custom-label">Job Description</label>
                            <textarea class="form-control custom-input" name="desc" id="desc" rows="10" placeholder="Enter job description" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn custom-btn">Get CVs</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
