{% extends 'base.html' %}

{% block title %}Job Search Results{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h2 style="color:#682c0b;">Find Your Next Career Move</h2>
            <p class="lead">Seek out opportunities that resonate with your professional goals.</p>
        </div>
    </div>

    <div class="row justify-content-center my-4">
        <div class="col-md-8">
        <form id="job-search-form" action="/jobs" method="POST" class="mb-4">
            <div class="input-group">
                <input type="text" id="keywords" name="keywords" class="form-control form-control-lg" placeholder="Enter Job Title" aria-label="Job Title" required>
                <input type="text" id="location" name="location" class="form-control form-control-lg" placeholder="Enter Location" aria-label="Location" required>
                <button type="submit" class="btn btn-outline-secondary" style="width: 150px;">Find Job</button>
            </div>
        </form>
        </div>
        <div class="col-md-10">
            {% if job_results %}
                <div id="job-results" style="max-height: 600px; overflow-y: auto; ">
                    <ul class="list-group">
                        {% for job in job_results %}
                            <li class="list-group-item mb-3 p-3 shadow-sm rounded">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="mb-1"><strong>{{ job.title }}</strong></h5>
                                        <p class="mb-1">Company: {{ job.company }}</p>
                                        <p class="mb-1">Location: {{ job.locations }}</p>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                                        <a href="{{ job.url }}" class="btn btn-outline-secondary ml-4 " target="_blank">preview</a>
                                        <a href="{{ job.url }}" class="btn btn-outline-secondary mr-2"  target="_blank">Apply</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div>
                    No job results found Yet..
                </div>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}
